<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>User:</strong>
    <%= blog.user_id %>
  </p>

  <p>
    <strong>Time of read:</strong>
    <%= blog.time_of_read %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= blog.category %>
  </p>

</div>
