<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Sign up for an account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div>
        <%= form.label :email, "Email Address", class: "lock text-sm font-medium leading-6 text-white" %>
        <div class="mt-2">
          <%= form.email_field :email,  autocomplete: "email", required: true, class: "input-field"%>
        </div>
      </div>
      <div>
        <%= form.label :first_name, "First Name", class: "lock text-sm font-medium leading-6 text-white" %>
        <div class="mt-2">
          <%= form.text_field :first_name,  autocomplete: "first_name", required: true, class: "input-field"%>
        </div>
      </div>

      <div>
        <%= form.label :last_name, "Last Name", class: "lock text-sm font-medium leading-6 text-white" %>
        <div class="mt-2">
          <%= form.text_field :last_name,  autocomplete: "last_name", required: true, class: "input-field"%>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <%= form.label :password, class: "block text-sm font-medium leading-6 text-white" %>
        </div>
        <div class="mt-2">
          <%= form.password_field :password, required: true, autocomplete: "password", class: "input-field" %>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <%= form.label :password_confirmation, class: "block text-sm font-medium leading-6 text-white" %>
        </div>
        <div class="mt-2">
          <%= form.password_field :password_confirmation, required: true, autocomplete: "password confirmation", class: "input-field" %>
        </div>
      </div>
      
      <div>
        <%= form.label :avatar, class: "block text-sm font-medium leading-6 text-white" %>
        <%= form.file_field :avatar %>
      </div>

      <div class="justify-center flex m-4">
        <%= form.submit "Sign Up", class: "btn btn-block btn-primary" %>
      </div>
    <% end %>
    <div class="justify-center flex m-4">
      <%= link_to "Sign In", new_user_session_path, class: "link link-secondary no-underline" %>
    </div>
  </div>
</div>
