<!-- Footer Container -->
<section class="pt-12 sm:pt-16">

  <!-- Footer -->
  <footer
    class="pt-20 pb-8 overflow-hidden bg-slate-900 sm:pt-24 sm:pb-12 lg:pt-32"
  >
    <!-- Container -->
    <div class="max-w-screen-xl px-5 mx-auto sm:px-6 lg:px-8">
      <!-- Call to action -->
      <div
        class="grid items-center max-w-xl gap-5 mx-auto lg:mx-0 lg:max-w-none lg:grid-cols-12 lg:gap-12 xl:gap-20"
      >
        <div class="lg:col-span-7">
          <h3
            class="text-4xl font-semibold text-center text-white font-display sm:text-5xl lg:max-w-xl lg:text-left"
          >
            Lets make something great together
          </h3>
          <div class="hidden lg:block">
            <!-- Call to action button for large screens -->
            <a
              target="_blank"
              href="https://calendly.com/timcareycodez"
              class="mt-12 bg-white hover:bg-sky-50 text-slate-700 inline-flex items-center rounded-full gap-2.5 justify-center px-7 py-3 text-md font-semibold leading-none outline-offset-2 transition-all duration-200 ease-in-out active:transition-none"
            >
              Book a call
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                  clip-rule="evenodd"
                  />
              </svg>
            </a>
          </div>
        </div>
        <div class="flex flex-col items-center lg:col-span-5 lg:items-start">
          <p class="text-lg text-center text-slate-50 lg:max-w-sm lg:text-left">
            Iced pumpkin ristretto irish trifecta robusta trade froth affogato
            barista con barista cappuccino filter roast.
          </p>

          <!-- Call to action button for small screens -->
          <a
            href="https://calendly.com/timcareycodez"
            class="mt-10 inline-flex items-center justify-center gap-x-2.5 rounded-full bg-white py-3 px-7 text-md font-semibold leading-none text-slate-700 duration-200 ease-in-out hover:bg-sky-50 lg:hidden"
          >
            Book a call
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-5 h-5"
            >
              <path
                fill-rule="evenodd"
                d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                clip-rule="evenodd"
                />
            </svg>
          </a>

          <!-- Social links -->
          <div
            class="mt-16 grid w-full max-w-sm grid-cols-2 gap-3.5 sm:max-w-none sm:grid-cols-3 lg:mt-8 lg:gap-2.5 xl:gap-3.5"
          >
            <!-- Email -->
            <a
              href="mailto:timcarey1989@gmail.com"
              class="flex items-center justify-center gap-2.5 rounded-full border border-slate-600/90 py-2.5 text-sm text-slate-50 duration-200 ease-in-out hover:bg-slate-800 hover:text-white lg:gap-2 xl:gap-2.5"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="w-4 h-4 duration-200 ease-in-out shrink-0 text-slate-200 group-hover:fill-slate-100"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                  />
              </svg>
              Email me
            </a>

            <!-- Twitter -->
            <a
              target="_blank"
              href="https://twitter.com/TimCareyCodez"
              class="flex items-center justify-center gap-2.5 rounded-full border border-slate-600/90 py-2.5 text-sm text-slate-50 duration-200 ease-in-out hover:bg-slate-800 hover:text-white lg:gap-2 xl:gap-2.5"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-4 h-4 duration-200 ease-in-out shrink-0 text-slate-200 group-hover:fill-slate-100"
              >
                <g>
                  <path
                    d="M24,4.6c-0.9,0.4-1.8,0.7-2.8,0.8c1-0.6,1.8-1.6,2.2-2.7c-1,0.6-2,1-3.1,1.2c-0.9-1-2.2-1.6-3.6-1.6 c-2.7,0-4.9,2.2-4.9,4.9c0,0.4,0,0.8,0.1,1.1C7.7,8.1,4.1,6.1,1.7,3.1C1.2,3.9,1,4.7,1,5.6c0,1.7,0.9,3.2,2.2,4.1 C2.4,9.7,1.6,9.5,1,9.1c0,0,0,0,0,0.1c0,2.4,1.7,4.4,3.9,4.8c-0.4,0.1-0.8,0.2-1.3,0.2c-0.3,0-0.6,0-0.9-0.1c0.6,2,2.4,3.4,4.6,3.4 c-1.7,1.3-3.8,2.1-6.1,2.1c-0.4,0-0.8,0-1.2-0.1c2.2,1.4,4.8,2.2,7.5,2.2c9.1,0,14-7.5,14-14c0-0.2,0-0.4,0-0.6 C22.5,6.4,23.3,5.5,24,4.6z"
                  ></path>
                </g>
              </svg>

              Twitter
            </a>

            <!-- LinkedIn -->
            <a
              target="_blank"
              href="https://www.linkedin.com/in/tim-carey-9a45b91b9/"
              class="flex items-center justify-center gap-2.5 rounded-full border border-slate-600/90 py-2.5 text-sm text-slate-50 duration-200 ease-in-out hover:bg-slate-800 hover:text-white lg:gap-2 xl:gap-2.5"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="16"
                viewBox="0 0 18 16"
                fill="currentColor"
                class="w-4 h-4 duration-200 ease-in-out shrink-0 text-slate-200 group-hover:fill-slate-100"
              >
                <path
                  d="M16.5128 0H0.717949C0.287179 0 0 0.266667 0 0.666667V15.3333C0 15.7333 0.287179 16 0.717949 16H16.5128C16.9436 16 17.2308 15.7333 17.2308 15.3333V0.666667C17.2308 0.266667 16.9436 0 16.5128 0ZM5.09744 13.6667H2.58462V6H5.16923V13.6667H5.09744ZM3.80513 4.93333C3.01538 4.93333 2.29744 4.33333 2.29744 3.53333C2.29744 2.8 2.94359 2.13333 3.80513 2.13333C4.59487 2.13333 5.31282 2.73333 5.31282 3.53333C5.31282 4.33333 4.66667 4.93333 3.80513 4.93333ZM14.7179 13.6667H12.1333V9.93333C12.1333 9.06667 12.1333 7.93333 10.841 7.93333C9.47692 7.93333 9.33333 8.86667 9.33333 9.86667V13.6667H6.74872V6H9.18974V7.06667C9.54872 6.46667 10.3385 5.86667 11.6308 5.86667C14.2154 5.86667 14.7179 7.46667 14.7179 9.53333V13.6667Z"
                  />
              </svg>

              LinkedIn
            </a>

            <!-- Github -->
            <a
              target="_blank"
              href="https://www.github.com/tim-carey-code"
              class="flex items-center justify-center gap-2.5 rounded-full border border-slate-600/90 py-2.5 text-sm text-slate-50 duration-200 ease-in-out hover:bg-slate-800 hover:text-white lg:gap-2 xl:gap-2.5"
            >
              <%= image_tag "github-icon-svgrepo-com.svg", class: "w-4 h-4 duration-200 ease-in-out shrink-0 text-slate-200 group-hover:fill-slate-100" %>
              Github
            </a>
          </div>
        </div>
      </div>

      <hr
        class="w-full h-px mt-12 mb-6 border-slate-600/90 sm:mt-16 sm:mb-10"
        />

      <!-- Footer links & copyright text -->
      <div class="flex flex-col items-center justify-between md:flex-row">
        <!-- Site links -->
        <div class="flex items-center gap-6">
          <%= link_to "Home", root_path, class: "text-base font-medium duration-200 ease-in-out text-slate-100 hover:text-white" %>
          <%= link_to "About", about_path, class: "text-base font-medium duration-200 ease-in-out text-slate-100 hover:text-white" %>
          <!--  <a
              href="work.html"
              class="text-base font-medium duration-200 ease-in-out text-slate-100 hover:text-white"
            >
              Work
          </a> -->
          <%= link_to "Blog", blogs_path, class: "text-base font-medium duration-200 ease-in-out text-slate-100 hover:text-white" %>
          <%= link_to "Contact", contact_path, class: "text-base font-medium duration-200 ease-in-out text-slate-100 hover:text-white" %>
        </div>

        <!-- Copyright text -->
        <p class="mt-8 text-base text-slate-400/90 md:mt-0">
          © 2023 Tim Carey Software. All rights reserved.
        </p>
      </div>
    </div>
  </footer>
</section>
