<!DOCTYPE html>
<html data-theme="light">
<head>
  <title><%= yield(:title).present? ? yield(:title) : "Tim Carey - Rails Developer" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link
    href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Inter:wght@400;500;600;700;800&family=Lexend:wght@400;500;600;700&family=Mr+Dafoe&display=swap"
    rel="stylesheet"
    />

  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico" rel="stylesheet">
  <!-- Swiper -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  <!-- AlpineJS -->
  <script
    defer
    src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
  ></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script> -->
  <%# stylesheet_link_tag "tiptap", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <script src="https://kit.fontawesome.com/f27c074aa6.js" crossorigin="anonymous"></script>
</head>

<body>
<%= render "layouts/navbar" %>
<% if notice %>
  <div class="flex justify-center items-center">
    <div data-controller="alerts" class="alert  flex rounded-xl items-center bg-[#36d399] p-4 w-[98vw] my-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current ml-4 shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span class="flex-grow ml-4"><%= notice %></span>
      <div class="justify-center flex items-center">
        <%= render ButtonComponent.new(hover_color: "#000", bg_color: "#1d232a", button_text: "Close", id: "dismiss-notice", text_color: "text-white") %>
      </div>
    </div>
  </div>
<% elsif alert %>
  <div class="flex justify-center items-center">
    <div data-controller="alerts" class="alert  flex rounded-xl items-center bg-[#f87272] p-4 w-[98vw] my-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current ml-4 shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span class="flex-grow ml-4"><%= alert %></span>
      <div class="justify-center flex items-center">
        <%= render ButtonComponent.new(hover_color: "#000", bg_color: "#1d232a", button_text: "Close", id: "dismiss-notice", text_color: "text-white") %>
      </div>
    </div>
  </div>
<% end %>
<%= flash[:error] %>
<%= yield %>
<%= render "layouts/footer" %>
</body>
</html>
